.app-header>h2 {
    color: white;
    margin: 0;
    font-family: serif;
    cursor: pointer;
}
section {
    min-height: 500px;
    height: 100%;
    widows: 100%;
    padding: 1% 2%; 
}

.content{
    padding: 1%;
}
  nav a.active {
    color: #039be5;
  }