<div fxFlex fxLayout="row" fxLayoutAlign="space-around center">
  <mat-card fxFlex=60>
    <form novalidate [formGroup]="studentForm" #SForm="ngForm">
      <p>
        <mat-form-field class="full_width">
          <input type="text" autofocus formControlName="name" placeholder="name" required matInput>
          <mat-error *ngIf="studentForm.get('name').hasError('required') && studentForm.get('name').touched">Name is
            required</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="full_width">
          <mat-select placeholder="Gender" formControlName="gender">
            <mat-option *ngFor="let gender of genders" [value]="gender">
              {{ gender }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="full_width">
          <input type="text" formControlName="mobileNumber" placeholder="mobile number" required matInput>
          <mat-error *ngIf="studentForm.get('mobileNumber').hasError('required') && studentForm.get('mobileNumber').touched">Mobile
            number is
            required</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="full_width">
          <input matInput [matDatepicker]="picker" formControlName="dateOfJoin" placeholder="Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </p>
      <p>
        <mat-slide-toggle formControlName="isActive">Active ?</mat-slide-toggle>
      </p>
    </form>
    <mat-card-actions>
      <button mat-raised-button (click)="goBack()">Back</button>
      <div fxFlex></div>
      <button mat-raised-button (click)="saveData()" [disabled]="studentForm.invalid">Save</button>
    </mat-card-actions>

  </mat-card>
</div>